:root {
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --accent-color: #ffffff;
}
body {
  font-family: var(--primary-font);
  color: #212121;
}
/*================COMPONENT================ */
.add {
  font-style: normal;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.web {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.studio {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}
.btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  /* color: #ffffff; */
}
.btn:hover,
.btn:focus {
  color: var(--accent-color);
  background-color: #2196f3;
  cursor: pointer;
}

/* ================/COMPONENT================ */

/* ================ШАПКА СТРАНИЦЫ================ */
.navigation-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}
.navigation-link:hover,
.navigation-link:focus {
  color: #2196f3;
}
/* ================/ШАПКА СТРАНИЦЫ================ */

/* ======================================СТУДИЯ====================================== */

/*==========HERO==========  */
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  /*color: #FFFFFF;*/
}

/*==========/HERO==========  */

/*==========FEATURES==========  */
.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}
.features-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #757575;
}
/*==========/FEATURES==========  */

/*==========BUSINESS==========  */
.business-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
/*==========/BUSINESS==========  */

/*==========TEAM==========  */
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.team-employee {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.team-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  color: #757575;
}
/*==========/TEAM==========  */

/* ======================================/СТУДИЯ====================================== */

/* ======================================ПОРТФОЛИО====================================== */
.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: #212121;
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;

  color: #757575;
}
/* ======================================/ПОРТФОЛИО====================================== */
